<app-header />

<main>
  <ul id="users">
    @for (user of users; track user.id) {
      <li>
        <app-user [user]="user" [selected]="user.id === selectedUserId" (select)="onSelectUser($event)"
        />       
      </li>
    }

    <!-- Older way of halding loops in Angular -->
    <!-- <li *ngFor="let user of users">
      <app-user [user]="user" (select)="onSelectUser($event)"
      />       
    </li> -->

    <!-- <li>
      <app-user 
        [user]="users[0]"
        (select)="onSelectUser($event)"
      />
    </li>
    <li>
      <app-user 
        [user]="users[1]"
        (select)="onSelectUser($event)"
      />       
    </li>
    <li>
      <app-user 
        [user]="users[2]"
        (select)="onSelectUser($event)"
      />       
    </li>
    <li>
      <app-user 
        [user]="users[3]"
        (select)="onSelectUser($event)"
      />       
    </li> -->
  </ul>
  
  <!-- <app-tasks [name]="selectedUser ? selectedUser.name : ''" /> -->
  @if (selectedUser) {
    <app-tasks [userId]="selectedUser.id" [name]="selectedUser.name" />
  } @else {
    <p id="fallback">Select a user to see their tasks!</p>
  }

  <!-- Older way of halding conditional statement in Angular -->
  <!-- <app-tasks *ngIf="selectedUser; else fallback" [name]="selectedUser.name" />
  <ng-template #fallback>
    <p id="fallback">Select a user to see their tasks!</p>
  </ng-template> -->
</main>